<h2>About</h2>
<p>In light of recent events, my focus is to create meaningful impacts in the world via my own expertise in computer science and security. I am passionate about helping people understand the extent of abuse and misinformation online by working on major platforms to promote positive changes that enables them to recognize others’ motives and legitimacy.</p>

 
<h2>Experience</h2>
<ul>
  <li><div style="font-weight: bold;">IT ADMIN / WEB DEVELOPER</div> - The Spice Hut</li>
  <li><div style="font-weight: bold;">PICSES SOC ANALYST</div> - Western Washington University</li>
  <li><div style="font-weight: bold;">TEAM CAPTAIN</div> - Collegiate Cyber Defense Competition (CCDC)</li>
  <li><div style="font-weight: bold;">GEN-CYBER CAMP MENTOR</div> - Whatcom Community College</li>
</ul>

 
<h2>Education</h2>
<ul>
  <li><div style="font-weight: bold;">Western Washington University</div> BS, Cyber Security - June 2020</li>
  <li><div style="font-weight: bold;">Whatcom Community College</div> - AAS, Cyber Security - June 2018</li>
</ul>


<h2>Skills</h2>
<ul>
  <li>
    Security:<br>
     <p>Windows & Linux Hardening, Firewall Mgmt, Monitoring Windows & Linux Hardening, Firewall Mgmt, Monitoring</p>
  </li>
  <li>
    DevOps & Cloud:<br/>
    <p>Packer, Docker, ELK Stack, AWS, Azure</p>
  </li>
  <li>
    Administration:</br>
    <p>Cisco, Networking, Active Directory, Database Design & Mgmt</p>
  </li>
  <li>
    Programming & Scripting:</br>
    <p>Python, Bash, PowerShell, Java, C</p>
  </li>
  <li>
    Policy & Compliance:</br>
    <p>Auditing, Standards & Frameworks, Aligning security to business needs</p>
  </li>
  <li>Application Testing</li>
  <li>Web Design / Development</li>
  <li>Virtualization</li>
  <li>Debugging & Troubleshooting</li>
  <li>Documentation & Reporting</li>
  <li>Technical Support</li>
</ul>

<hr />

<!-- <ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/excentris/compass">GitHub Repository</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-user fa-lg main-list-item-icon"></span>
    <a href="http://excentris.net">The Author</a>
  </li>
</ul> -->
